<launch>
    <arg name="config_path" default = "$(find feature_tracker)/../config/realsense/realsense_color_config.yaml" />
    <arg name="depth_config_path" default = "$(find feature_tracker)/../config/realsense/realsense_depth_config.yaml" />
    <arg name="voxblox_config_path" default = "$(find feature_tracker)/../config/voxblox/voxblox_config.yaml" />
	  <arg name="vins_path" default = "$(find feature_tracker)/../config/../" />
    <arg name="use_zero_dce" default="true" />
    <arg name="zero_dce_use_onnx" default="true" />
    <arg name="zero_dce_input_topic" default="/camera/color/image_raw" />
    <arg name="zero_dce_output_topic" default="/zero_dce/image_enhanced" />
    <arg name="zero_dce_model_path" default="$(find feature_tracker)/models/zero_dce_plus_epoch99.pth" />
    <arg name="zero_dce_onnx_model_path" default="$(find feature_tracker)/models/zero_dce_plus_480x640_sf12.onnx" />
    <arg name="zero_dce_use_gpu" default="true" />
    <arg name="zero_dce_scale_factor" default="12" />
    <arg name="zero_dce_profile" default="false" />
    <arg name="zero_dce_torch_threads" default="1" />
    <arg name="zero_dce_intra_op_num_threads" default="1" />
    <arg name="zero_dce_queue_size" default="2" />

    <node if="$(eval arg('use_zero_dce') and not arg('zero_dce_use_onnx'))" name="zero_dce_enhancer" pkg="feature_tracker" type="zero_dce_enhancer_node.py" output="screen">
        <param name="input_topic" type="string" value="$(arg zero_dce_input_topic)" />
        <param name="output_topic" type="string" value="$(arg zero_dce_output_topic)" />
        <param name="model_path" type="string" value="$(arg zero_dce_model_path)" />
        <param name="use_gpu" type="bool" value="$(arg zero_dce_use_gpu)" />
        <param name="scale_factor" type="int" value="$(arg zero_dce_scale_factor)" />
        <param name="profile" type="bool" value="$(arg zero_dce_profile)" />
        <param name="torch_threads" type="int" value="$(arg zero_dce_torch_threads)" />
        <param name="queue_size" type="int" value="$(arg zero_dce_queue_size)" />
    </node>

    <node if="$(eval arg('use_zero_dce') and arg('zero_dce_use_onnx'))" name="zero_dce_onnx_enhancer" pkg="feature_tracker" type="zero_dce_onnx_enhancer" output="screen">
        <param name="input_topic" type="string" value="$(arg zero_dce_input_topic)" />
        <param name="output_topic" type="string" value="$(arg zero_dce_output_topic)" />
        <param name="model_path" type="string" value="$(arg zero_dce_onnx_model_path)" />
        <param name="profile" type="bool" value="$(arg zero_dce_profile)" />
        <param name="intra_op_num_threads" type="int" value="$(arg zero_dce_intra_op_num_threads)" />
        <param name="queue_size" type="int" value="$(arg zero_dce_queue_size)" />
    </node>

    <arg name="use_depth_to_map" default="1" />
    <arg name="use_depth_to_map_pose_graph" default="1" />
    <arg name="depth_map_weight" default="100.0" />
    <arg name="depth_map_huber" default="1.0" />
    <arg name="depth_map_min_edges" default="50" />
    <arg name="depth_map_max_edges_per_frame" default="800" />
    <arg name="depth_map_neighbor_count" default="5" />
    <arg name="depth_map_max_neighbor_dist" default="1.0" />
    <arg name="depth_map_plane_max_dist" default="0.2" />
    <arg name="depth_map_min_scale" default="0.1" />
    <arg name="depth_map_pose_graph_target_keyframes" default="5" />
    <arg name="depth_map_pose_graph_opt_interval" default="10" />
    <arg name="depth_cloud_sync_tol" default="0.02" />
    
    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="depth_config_file" type="string" value="$(arg depth_config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
        <param if="$(arg use_zero_dce)" name="image_topic" type="string" value="$(arg zero_dce_output_topic)" />
    </node>

    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
       <param name="use_depth_to_map" type="int" value="$(arg use_depth_to_map)" />
       <param name="depth_map_weight" type="double" value="$(arg depth_map_weight)" />
       <param name="depth_map_huber" type="double" value="$(arg depth_map_huber)" />
       <param name="depth_map_min_edges" type="int" value="$(arg depth_map_min_edges)" />
       <param name="depth_map_max_edges_per_frame" type="int" value="$(arg depth_map_max_edges_per_frame)" />
       <param name="depth_map_neighbor_count" type="int" value="$(arg depth_map_neighbor_count)" />
       <param name="depth_map_max_neighbor_dist" type="double" value="$(arg depth_map_max_neighbor_dist)" />
       <param name="depth_map_plane_max_dist" type="double" value="$(arg depth_map_plane_max_dist)" />
       <param name="depth_map_min_scale" type="double" value="$(arg depth_map_min_scale)" />
       <param name="depth_cloud_sync_tol" type="double" value="$(arg depth_cloud_sync_tol)" />
    </node>

    <node name="pose_graph" pkg="pose_graph" type="pose_graph" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <rosparam command="load" file="$(arg voxblox_config_path)" ns="voxblox" />
        <param if="$(arg use_zero_dce)" name="image_topic" type="string" value="$(arg zero_dce_output_topic)" />
        <param name="visualization_shift_x" type="int" value="0" />
        <param name="visualization_shift_y" type="int" value="0" />
        <param name="skip_cnt" type="int" value="0" />
        <param name="skip_dis" type="double" value="0" />
        <param name="use_depth_to_map_pose_graph" type="int" value="$(arg use_depth_to_map_pose_graph)" />
        <param name="depth_map_weight" type="double" value="$(arg depth_map_weight)" />
        <param name="depth_map_huber" type="double" value="$(arg depth_map_huber)" />
        <param name="depth_map_min_edges" type="int" value="$(arg depth_map_min_edges)" />
        <param name="depth_map_max_edges_per_frame" type="int" value="$(arg depth_map_max_edges_per_frame)" />
        <param name="depth_map_neighbor_count" type="int" value="$(arg depth_map_neighbor_count)" />
        <param name="depth_map_max_neighbor_dist" type="double" value="$(arg depth_map_max_neighbor_dist)" />
        <param name="depth_map_plane_max_dist" type="double" value="$(arg depth_map_plane_max_dist)" />
        <param name="depth_map_min_scale" type="double" value="$(arg depth_map_min_scale)" />
        <param name="depth_map_pose_graph_target_keyframes" type="int" value="$(arg depth_map_pose_graph_target_keyframes)" />
        <param name="depth_map_pose_graph_opt_interval" type="int" value="$(arg depth_map_pose_graph_opt_interval)" />
    </node>

</launch>
